html,
body {
  height: 100%;
}
.app-layout {
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}
@import 'tailwindcss';
@plugin "daisyui" {
  themes: dark --default;
}
@source "../../..";
